<div class="jumbotron text-center">
	<h1>Carrie Wladis Codes</h1>

	<p>Hi all and welcome to my site. I'm a front end developer, art historian, and costume designer that just wants your love. Just kidding. Have a look around and let me know if you see anything interesting.</p>
</div>
